<<!DOCTYPE html>
<html>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

  <link rel="stylesheet" type="text/css" href="/css/styles.css">
<head>
  <title>Data Scraping New Hampsire Magazine App</title>
</head>
<body>
 {{{body}}}
</body>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>

  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

  <script type="text/javascript" src="/jscripts/scripts.js"></script>
</html>
